.bg-image {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/assets/images/3292752.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px) brightness(1); /* reasonable blur + dark */
    z-index: 1;
  }
  
  .bg-image > * {
    position: relative;
    z-index: 2;
  }


  /* ----------------------------------------------------------------------------------------------------- */
  


  .custom-select-wrapper {
    position: relative;
  }
  
  .custom-select {
    appearance: none;
    -webkit-appearance: none;
    background-color: #f5f5f5;
    padding-right: 2.5rem;
  }
  
  .custom-select-wrapper::after {
    content: '▼';
    font-size: 0.8rem;
    position: absolute;
    top: 70%;
    right: 1.4rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
  }
  