<div class="bg-image" style="min-height: 100vh; display: flex; align-items: center; justify-content: center; ">
    <div class="container" style="max-width: 820px;">
      <div class="card" style="border-radius: 10px; box-shadow: 0 0 0px rgba(255, 193, 7, 0.5);">
        <div class="card-body  shadow-lg " style="margin: 0px;" >
          
         
          <div class="d-flex justify-content-between align-items-center mb-1">
            <div style="width: 90px;"></div>
            <h4 class="text-center flex-grow-1 mb-0" style="color: black;">Reset Your Password</h4>
            <button class="btn btn-outline-warning" routerLink="">Back</button>
          </div>
  
          <hr>
  
        
          <form action=""    (ngSubmit)="resetUserPassword()"          #resetForm="ngForm"        >
  
            <div class="row">
<!--   style="color:black; background-color: #f5f5f5; appearance: auto; -webkit-appearance: auto;" -->
   <!--   style="color:black; background-color: #f5f5f5;" -->
      <!-- appearance: auto; -webkit-appearance: auto; -->
                <div class="col-md-6  form-group   custom-select-wrapper ">
                    <label class="form-label">Select Method</label>  
                    <select class="form-control  custom-select"    [(ngModel)]="selectedMethodNo"  name="selectedMethodNo" style="color:black; background-color: #f5f5f5;   "   >
                      <option [value]="1">Reset Using Date of Birth</option>
                      <option [value]="2">Reset Using Mobile No</option>
                    </select>
                  </div>

     
                  <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input type="text"   [(ngModel)]="email"  name="email"     class="form-control" placeholder="Enter your email">
                  </div>
  
         
            </div>
  
            <div class="row mt-2">

                <div class="col-md-6">
                    <label class="form-label">New Password</label>
                    <input type="password"   [(ngModel)]="newPassword"  name="newPassword"     class="form-control" placeholder="Enter new password">
                  </div>


              <div class="col-md-6">
                <label class="form-label">Confirm New Password</label>
                <input type="password"  [(ngModel)]="confirmNewPassword"  name="confirmNewPassword"  class="form-control" placeholder="Confirm new password">
              
                <small   *ngIf="newPassword!=confirmNewPassword"  class="text-danger"   >password not matching !</small>
              
            </div>
  
             
          

            </div>
  
            <div class="row mt-2"     >
              <div class="col-md-6"    *ngIf="selectedMethodNo==1"      >
                <label class="form-label">Date of Birth</label>
                <input type="date"    [(ngModel)]="dob"  name="dob"  class="form-control">
              </div>
  
              <div class="col-md-6"    *ngIf="selectedMethodNo==2"          >
                <label class="form-label">Mobile No</label>
                <input type="text"   [(ngModel)]="mobileNo"  name="mobileNo" class="form-control" placeholder="Enter mobile number">
              </div>
            </div>
  
            <div class="mt-3">
              <button class="btn btn-warning form-control" type="submit">Reset Password</button>
            </div>
  
          </form>
       
          
        </div>
      </div>
    </div>
  </div>
  