.custom-pink-btn {
    background-color: deeppink;
    color: white;
    /* transition: 0.5s ease; */
  }
  
  .custom-pink-btn:hover {
    background-color: deeppink;
    color: white;
    /* transform: scale(1.05); */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
  }
  