<!-- <h1 class="text-center  mt-5" >about component works!</h1> -->


<div class="container mt-4">


    <div class="card    " style="border-radius: 10px;box-shadow: 0 0 15px rgba(236, 8, 12, 0.5);">
        <div class="card-body" >

   

    <h2 class="text-center mb-1"  style="color: rgba(236, 8, 12, 0.5);"     >About Task Manager</h2>
  <hr     >
    <p>
      Welcome to <strong>Task Manager</strong> – your smart and simple solution to stay organized and productive.
    </p>
  
    <p>
      This application helps users easily create, manage, and track their daily tasks. Whether you’re an individual managing your personal to-dos or a team leader assigning tasks, Task Manager is here to simplify your workflow.
    </p>
  
    <h5 class="mt-4">Key Features:</h5>
    <ul>
      <li>Create and edit tasks </li>
      <li>Filter tasks based on their status (Pending, Completed)</li>
      <!-- <li>Set tasks priority</li> -->
      <li>User login and registration</li>
      <li>Admin panel for managing users</li>
      <li>Update your profile information</li>
    </ul>
  
    <p class="mt-4">
      Built with ❤️ using <strong>Angular</strong> for frontend and <strong>.NET </strong> for backend.
    </p>
  
    <p>
      Thank you for using Task Manager! We hope it helps you get things done more efficiently.
    </p>


</div>
</div>
  </div>
  