<!-- <h1 class="text-center mt-5">home component works!</h1> -->


<div class="container mt-5">

    <div  class="card"  style="border-radius: 10px;box-shadow: 0 0 15px rgba(206, 213, 220, 0.5);"  >
    
        <div  class="card-body" >
    
    
    
        <div class="text-center">
          <h1 class="mb-3">Welcome to Task Manager Admin Panel</h1>
          <p class="lead">As an admin, you have full control over managing users and admin accounts.</p>
          <p class="lead">Use the options below to navigate.</p>
          
          <!-- <img src="/assets/images/profile.jpg" alt="Task Manager" class="img-fluid my-4" style="max-height: 300px;"> -->
          
          <div class="mt-4">
            <a routerLink="/userList" class="btn btn-primary me-2">View Users List</a>
            <a routerLink="/addUser" class="btn btn-success me-2 ">Add New User</a>
            <a routerLink="/adminList" class="btn btn-info me-2 ">View Admins List</a>
            <a routerLink="/addAdmin" class="btn btn-primary me-2 ">Add New Admin</a>
            <a routerLink="/adminProfile" class="btn btn-warning me-2 ">Update Admin Profile</a>
            <a href="https://localhost:7127/hangfire/"  target="_blank" rel="noopener noreferrer"   class="btn btn-danger me-2 ">Manage User Mail Remainders</a>
          </div>
        </div>
    
    </div>
    </div>
    
      </div>
    
      <!-- ----------------------------------------------------------------------------------------------- -->
      
      